<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	<script src="app.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

</head>

<body>
	<div class="container">
	<div ng-controller="crudController" class="col-sm">
		<table class="table table-sm">
			<tr>
				<th>Name</th>
				<th>Year</th>
				<th>Wine Type</th>
				<th></th>
				<th></th>
			</tr>
			
			<tr ng-repeat="wine in wines">
				<td>{{ wine.name }}</td>
				<td>{{ wine.year }}</td>
				<td>{{ wine.wineType }}</td>
				<td><a href>edit</a></td>
				<td><a href ng-click="deleteWine(wine._links.self.href, $index)">delete</a></td>
			</tr>
			
			<tr>
				<td><input type="text" class="form-control" ng-model="name"></td>
				<td><input type="number" class="form-control" ng-model="year"></td>
				<td><select class="form-control" ng-model="wineType">
					<option value="RED">RED</option>
					<option value="WHITE">WHITE</option>
					<option value="ROSSE">ROSSE</option>
				</select></td>
				<td></td>
				<td></td>
			</tr>				
		</table>
		<button class="form-control" ng-click="setWine()">create</button>
	</div>

	</div>
</body>
</html>