<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	<script src="app.js"></script>

</head>

<body>
	<div ng-controller="crudController">
		<h3>Create</h3>
		name: <input type="text" ng-model="name"><br>
		year: <input type="number" ng-model="year"><br>
		wineType: <input type="text" ng-model="wineType"><br>
		<button ng-click="setResult()">Click me</button>

		<hr>
		<h3>Read</h3>
		<button ng-click="getResults()">click me</button>

		<lu>
			<li ng-repeat="wine in wines">{{ wine.name }}</li>
		</lu>

	</div>
	<hr>
	<h3>Update</h3>
	wine name? <input type="text" ng-model="wineToSeach">
	<button ng-click="searchByName">Search</button>

</body>

</html>