<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	<script src="app.js"></script>

</head>

<body>
	<div ng-controller="crudController">
		<table>
			<tr>
				<th>name</th>
				<th>year</th>
				<th>winetype</th>
			</tr>
			
			<tr ng-repeat="wine in wines">
				<td>{{ wine.name }}</td>
				<td>{{ wine.year }}</td>
				<td>{{ wine.wineType }}</td>
			</tr>
			
			<tr>
				<td><input type="text" ng-model="name"></td>
				<td><input type="number" ng-model="year"></td>
				<td><input type="text" ng-model="wineType"></td>
			</tr>				
		</table>
		<button ng-click="setWine()">click me</button>
	</div>
</body>
</html>